.cartbody {
  margin-bottom: 0.7em;
  background-color: azure;
}
.alert alert-info{
  text-shadow: yellowgreen;
  font-weight: bolder;
}
.cart-item {
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.cartttitemname {
  margin-left: 0.5em;
  vertical-align: middle;
}

.cart-item__price {
  font-weight: bold;
}

.carttotal {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
}
