.product {
    margin: 0;
    overflow: auto;
}

.product__price {
    display: inline-block;
    line-height: 34px;
    background-color: rgb(222, 243, 236);
}

.product__button-wrap {
    float: right;
}
